[Unit]
Description=MediaWiki Job runner

[Service]
ExecStart=/usr/local/bin/mwjobrunner
Nice=10
ProtectSystem=full
User=unit
OOMScoreAdjust=200
StandardOutput=journal

[Install]
WantedBy=multi-user.target
