[Unit]
Description=Run Process Echo Email Batch Daily at 9:00 PM

[Timer]
OnCalendar=*-*-* 21:00:00
Persistent=true

[Install]
WantedBy=timers.target
